.grid {
  &-preview {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    pointer-events: none;
    &-content {
      height: 100vh;
      background-color: rgba($primary, 0.3);
    }

    display: none;

    &.active {
      display: block;
    }
  }
}

@media only screen and (min-width: $md) and (max-width: $xl - 1px) {
  .container-wrapper {
    > div {
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: $md - 1px) {
  .container-wrapper > div > .row {
    margin-left: $gap / -2;
    margin-right: $gap / -2;
    > div {
      padding: 0 $gap / 2;
    }
  }
}
