$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl2: 1366px;
$xl: 1680px;
$xxl: 1920px;

$primary: #47a4f5;
$secondary: #0059a8;
$dark: #00315c;
$white: white;
$black: black;
$light: #00000029;
$darken: #2c4861;
$gray: #e1e1e1;
$lightGray: #f6f6f6;

$fs-1: 75px;
$fs0: 50px;
$fs1: 40px;
$fs2: 26px;
$fs3: 18px;
$fs4: 14px;

$gap: 12px;

$duration: 0.3s;
$ease_hover: ease-in;
$ease_cubic: ease-in-out;
$transition: $duration $ease_hover;

@mixin flexWidth($width) {
  flex: 0 0 $width;
  max-width: $width;
  width: $width;
}
