@import "./vars";
@import "./grid";
@import "./components";
@import "./pages";

* {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

*::selection {
  background-color: $primary;
  color: $white;
}

a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

input:not([type="checkbox"]),
button,
textarea {
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  &::-ms-clear,
  &::-ms-reveal,
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button {
    display: none !important;
  }
}

html {
  // scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Popins", sans-serif;
}

.button-left,
.button-right {
  width: 80px;
  height: 80px;
  border-radius: 25px;
  background-color: rgba($primary, 0.8);
  outline: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: $fs1;
  box-shadow: 0px 10px 20px #0000001a;
}

// html::-webkit-scrollbar {
//   display: none;
// }

.text-primary {
  color: $primary;
}
