.grid-preview {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  pointer-events: none;
  display: none;
}
.grid-preview-content {
  height: 100vh;
  background-color: rgba(71, 164, 245, 0.3);
}
.grid-preview.active {
  display: block;
}

@media only screen and (min-width: 768px) and (max-width: 1679px) {
  .container-wrapper > div {
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .container-wrapper > div > .row {
    margin-left: -6px;
    margin-right: -6px;
  }
  .container-wrapper > div > .row > div {
    padding: 0 6px;
  }
}
.footer {
  background-color: #2c4861;
  padding-top: 70px;
  padding-bottom: 45px;
  margin-top: 300px;
}
.footer-logo {
  width: 290px;
  height: 90px;
  background-color: white;
}
.footer-logo img {
  height: 100%;
}
.footer-copy {
  font-size: 14px;
  color: white;
  padding: 12px 0;
}
.footer-hotline {
  color: white;
  padding: 12px 0;
  font-size: 14px;
}
.footer-networks {
  color: white;
}
.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -12px;
}
.footer-content-block-first {
  flex: 0 0 37%;
  max-width: 37%;
  width: 37%;
}
.footer-content-block:not(.footer-content-block-first) {
  flex: 0 0 20%;
  max-width: 20%;
  width: 20%;
}
.footer-content-block-item {
  padding: 12px;
  font-size: 26px;
}
.footer-content-block-item-title {
  padding-bottom: 12px;
  color: white;
  font-weight: 600;
}
.footer-content-block-item-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-content-block-item-list-item {
  padding: 6px 0;
  color: white;
  font-size: 18px;
}
.footer-content-block-item-list-item a {
  color: inherit;
  display: block;
  text-decoration: none;
  transition: 0.3s ease-in;
}
.footer-content-block-item-list-item a:hover {
  color: #47a4f5;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    margin-top: 150px;
  }
  .footer-content-block {
    flex: 0 0 calc(100% / 3) !important;
    width: calc(100% / 3) !important;
    max-width: calc(100% / 3) !important;
  }
  .footer-content-block-first {
    order: 4;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    margin-top: 0;
    padding-bottom: 24px;
    padding-top: 36px;
  }
  .footer-content-block:not(.footer-content-block-first) {
    display: none;
  }
  .footer-content-block-first {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important;
  }
}

.network {
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  align-items: cneter;
  margin: 0 -12px;
}
.network-item {
  padding: 6px 12px;
}
.network-item a {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: 0.3s ease-in;
  font-size: 20px;
}
.network-item a:hover {
  color: #47a4f5;
}

.contact {
  overflow: hidden;
  padding: 60px 0;
}
.contact-row {
  align-items: center;
  position: relative;
}
.contact-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
  height: 100%;
  width: 100%;
  bottom: 0;
}
.contact-bg::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 0;
  right: calc((100vw - 100%) / -2);
  bottom: -60px;
  background-color: rgba(71, 164, 245, 0.3);
  transition: 0.9s ease-in-out;
  transform-origin: right;
  transform: scaleX(0);
}
.contact.aos-animate .contact-bg::before {
  transform: scaleX(1);
}
.contact-left {
  padding-right: 25px;
  position: relative;
}
.contact-left::before {
  content: "";
  background-color: white;
  position: absolute;
  top: 60px;
  bottom: -60px;
  right: -24px;
  left: 0;
  z-index: 1;
}
.contact-left img {
  width: 100%;
  position: relative;
  z-index: 2;
  object-fit: cover;
  height: 100%;
  min-height: 400px;
}
.contact-title {
  margin-top: -24px;
  font-size: 40px;
  color: black;
  font-weight: 700;
}
.contact-address, .contact-hotline, .contact-mail, .contact-map, .contact-networks {
  color: black;
  font-size: 18px;
  padding: 6px 0;
}
.contact-address a, .contact-hotline a, .contact-mail a, .contact-map a, .contact-networks a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease-in;
}
.contact-address a:hover, .contact-hotline a:hover, .contact-mail a:hover, .contact-map a:hover, .contact-networks a:hover {
  color: #47a4f5;
}
.contact-networks {
  color: #47a4f5;
}
.contact-networks a {
  color: #47a4f5;
}
@media only screen and (min-width: 768px) and (max-width: 1679px) {
  .contact {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .contact-title {
    font-size: 26px;
  }
  .contact-left {
    padding-right: 10px;
  }
  .contact-left::before {
    right: -6px;
  }
}
@media only screen and (max-width: 767px) {
  .contact {
    padding: 30px 0;
  }
  .contact-info {
    padding: 48px 12px;
  }
  .contact .container-xxs {
    padding: 0;
  }
  .contact-address, .contact-hotline, .contact-mail, .contact-map, .contact-networks {
    font-size: 14px;
  }
  .contact-title {
    font-size: 18px;
  }
  .contact-bg {
    display: none;
  }
  .contact-title {
    margin-top: 0;
  }
  .contact-left {
    display: none;
  }
  .contact-right {
    background-color: rgba(225, 225, 225, 0.3);
  }
}

.gallery_item {
  overflow: hidden;
  height: 500px;
  position: relative;
}
.gallery_item a {
  display: block;
  text-decoration: none;
  line-height: 0;
  width: 100%;
  height: 100%;
}
.gallery_item a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery_item-zoom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  margin: auto;
  width: 75px;
  height: 65px;
  pointer-events: none;
  background-color: #47a4f5;
  line-height: 65px;
  text-align: center;
  color: white;
  transition: 0.3s ease-in;
  transform: translateY(20px);
  opacity: 0;
}
.gallery_item:hover .gallery_item-zoom {
  opacity: 1;
  transform: translateY(0);
}
.gallery_item img {
  position: relative;
  z-index: 3;
  transition: 0.3s ease-in;
}
.gallery_item_link {
  position: relative;
}
.gallery_item_link::after {
  content: "";
  position: absolute;
  top: 36px;
  right: 0;
  left: 48px;
  bottom: 0;
  transition: 0.3s ease-in;
  background-color: #47a4f5;
  z-index: 1;
  transform: translateX(-36px) translateY(-24px);
}
.gallery_item:hover img {
  transform: translateX(-36px) translateY(-36px);
}
.gallery_item:hover .gallery_item_link::after {
  transform: translate(0);
}

.background {
  position: relative;
  height: 70vh;
  min-height: 700px;
  margin-bottom: 100px;
  overflow: hidden;
}
.background-title {
  font-size: 75px;
  color: white;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40%;
  z-index: 5;
  font-weight: bold;
  margin: auto;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  object-fit: cover;
  width: 100%;
  object-position: bottom;
  height: 100%;
}
.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(0, 49, 92, 0.2);
}
.background::before {
  content: "";
  position: absolute;
  pointer-events: none;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120%;
  z-index: 4;
  background: linear-gradient(360deg, rgba(2, 0, 36, 0.7) 0%, rgba(0, 212, 255, 0) 90%);
}
@media only screen and (max-width: 1023px) {
  .background {
    min-height: 500px;
    height: 60vh;
    margin-bottom: 80px;
  }
  .background-title {
    bottom: 30%;
    font-size: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .background {
    margin-bottom: 30px;
  }
}

.news_item-link {
  text-decoration: none;
  width: 100%;
  display: block;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .news_item-link {
    height: 100%;
    display: flex;
  }
}
.news_item-title {
  font-size: 40px;
  color: black;
  margin: 24px 0;
  font-weight: 600;
}
.news_item-description {
  font-size: 18px;
  color: black;
  margin: 12px 0;
  line-height: 28px;
}
.news_item-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 12px;
  transition: 0.6s ease-in !important;
  opacity: 0 !important;
}
.news_item-footer.aos-animate {
  opacity: 1 !important;
}
.news_item-date, .news_item-more {
  font-size: 14px;
  color: #47a4f5;
  padding: 3px 0;
}
.news_item-more {
  border-top: 1px solid #47a4f5;
  padding-left: 100px;
}
.news_item-image {
  width: 100%;
  height: 325px;
  line-height: 0;
  margin-bottom: 12px;
}
.news_item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 1679px) {
  .news_item-title {
    font-size: 26px;
  }
  .news_item-image {
    height: 300px;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 -6px;
}
.pagination-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pagination > li {
  font-size: 26px;
  font-weight: 500;
  color: black;
  transition: 0.3s ease-in;
  margin: 0 6px;
}
.pagination > li:hover, .pagination > li.active {
  color: #47a4f5;
}
.pagination > li a {
  color: inherit;
  text-decoration: none;
}

.product_item {
  background-color: rgba(71, 164, 245, 0.3);
}
.product_item-link {
  padding: 36px;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .product_item-link {
    height: 100%;
  }
}
.product_item-image {
  line-height: 0;
  height: 290px;
}
.product_item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product_item-title {
  color: black;
  text-decoration: none;
  font-size: 26px;
  margin-top: 24px;
  margin-bottom: 12px;
}
.product_item-more {
  text-align: right;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .product_item-title {
    font-size: 18px;
  }
  .product_item-link {
    padding: 24px;
  }
  .product_item-image {
    height: 150px;
  }
}
@media only screen and (max-width: 767px) {
  .product_item-title {
    margin-top: 12px;
    font-size: 14px;
  }
  .product_item-link {
    padding: 12px;
  }
  .product_item-more {
    display: none;
  }
  .product_item-image {
    height: 150px;
  }
}

.form-input {
  width: 100%;
  background-color: #f6f6f6;
  border: 0;
  outline: none;
  padding: 24px 18px;
  resize: vertical;
  border: 2px solid transparent;
}
.form-input.invalid {
  border-color: red;
}
.form-button {
  background-color: #47a4f5;
  padding: 12px 24px;
  border-radius: 4px;
  border: 0;
  outline: none;
  transition: 0.3s ease-in;
  cursor: pointer;
  color: white;
}
.form-button:hover {
  background-color: #178cf2;
}

.language-switch {
  position: relative;
}
.language-switch-current {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 40px;
  width: 106px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease-in;
  padding-left: 6px;
  padding-right: 12px;
  cursor: pointer;
  color: white;
}
html.has-overlay .language-switch-current {
  color: white !important;
}
.language-switch-current-flag {
  line-height: 0;
}
.language-switch-items {
  pointer-events: none;
  opacity: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  transform: translateY(100%);
  box-shadow: 0px 8px 30px #00000029;
  transition: 0.3s ease-in;
  padding: 6px 0;
}
.language-switch-item {
  padding: 6px 12px;
  color: black;
  transition: 0.3s ease-in;
}
.language-switch-item a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.language-switch-item:hover {
  color: #47a4f5;
}
.language-switch:hover .language-switch-current {
  background-color: rgba(0, 0, 0, 0.7);
}
.language-switch:hover .language-switch-items {
  opacity: 1;
  pointer-events: all;
}

.header {
  position: sticky;
  top: 35px;
  transition: 0.3s ease-in;
  z-index: 99;
}
.header-bg {
  margin-bottom: 70px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header-bg {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .header-bg {
    margin-bottom: 23px;
  }
}
.header-image {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 241px;
  width: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header-image {
    height: 190px;
  }
}
@media only screen and (max-width: 767px) {
  .header-image {
    height: 161px;
  }
}
.header-shrink {
  height: 0;
}
.header-language-switch {
  margin-right: 15px;
  margin-left: 50px;
}
.header-mobile {
  display: none;
}
.header-mobile .header-language-switch {
  margin: 0;
}
.header-mobile .language-switch-current {
  background-color: transparent !important;
  width: 86px;
}
html.scrolled .header-mobile .language-switch-current {
  color: black;
}
.header-mobile .language-switch-current .language-switch-current-flag {
  display: none;
}
.header-content {
  background-color: white;
  box-shadow: 0px 8px 30px #00000029;
  height: 131px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  width: 100%;
  transition: 0.3s ease-in;
  position: relative;
  left: 0;
}
html.has-overlay .header-content {
  background-color: transparent !important;
  color: white !important;
  box-shadow: none;
}
html.scrolled .header {
  transform: translateY(-35px);
}
html.scrolled .header-content {
  width: 100vw;
  left: calc((100vw - 100%) / -2);
}
.header-logo {
  height: 100%;
}
.header-logo a {
  display: block;
  height: 100%;
}
.header-logo a img {
  width: 275px;
  background-color: #47a4f5;
}
.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.header-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0 -30px;
}
.header-list-item {
  padding: 0 30px;
  position: relative;
}
.header-list-item > a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  transition: 0.3s ease-in;
}
html.has-overlay .header-list-item > a {
  color: white !important;
}
.header-list-item > a::after {
  transition: 0.3s ease-in;
  opacity: 0;
  position: absolute;
  content: "";
  height: 3px;
  background-color: #47a4f5;
  bottom: -10px;
  left: -12px;
  width: calc(100% + 12px * 2);
  right: -12px;
}
.header-list-item:hover > a::after, .header-list-item.active > a::after {
  opacity: 1;
}
.header-list-item:hover .header-sub-list {
  opacity: 1;
  pointer-events: all;
}
.header-sub-list {
  pointer-events: none;
  opacity: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: translateY(100%);
  box-shadow: 0px 8px 30px #00000029;
  transition: 0.3s ease-in;
  padding: 6px 0;
}
.header-sub-list-item > a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  transition: 0.3s ease-in;
  padding: 12px 12px;
  white-space: nowrap;
}
.header-sub-list-item > a::after {
  transition: 0.3s ease-in;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3px;
  background-color: #47a4f5;
  content: " ";
  transform: scaleY(0);
  transform-origin: center;
}
.header-sub-list-item:hover > a::after, .header-sub-list-item.active > a::after {
  opacity: 1;
  transform: scaleY(1);
}
.header-bars {
  display: none;
  font-size: 50px;
  color: white;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
html.has-overlay .header-bars {
  color: white !important;
}
html.scrolled .header-bars {
  color: #00315c;
}
.header-bars span.fa.fa-times {
  display: none;
}
html.has-overlay .header-bars span.fa.fa-bars {
  display: none;
}
html.has-overlay .header-bars span.fa.fa-times {
  display: block;
}
@media only screen and (min-width: 1366px) and (max-width: 1679px) {
  .header-list {
    margin: 0 -15px;
  }
  .header-list-item {
    padding: 0 15px;
  }
  .header-language-switch {
    margin-right: 0;
    margin-left: 25px;
  }
}
@media only screen and (max-width: 1365px) {
  .header-menu {
    display: none;
  }
  .header-bars {
    display: block;
  }
  .header-mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .header-content {
    align-items: center;
    height: auto;
  }
  html:not(.scrolled) .header-content {
    background-color: transparent;
    box-shadow: none;
  }
}
@media only screen and (max-width: 1023px) {
  .header-content {
    align-items: center;
    padding: 15px;
    padding-bottom: 0;
    transform: translateY(-15px);
    height: 100px;
  }
  html:not(.scrolled) .header-content {
    background-color: transparent;
    box-shadow: none;
  }
  .header-logo a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header-logo a img {
    width: 155px;
    height: auto;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(71, 164, 245, 0.9);
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in;
}
html.has-overlay .overlay {
  opacity: 1;
  pointer-events: all;
}
.overlay-content {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.overlay-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.overlay-list-item {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}
.overlay-list-item > a {
  padding: 12px 6px;
  display: block;
  text-decoration: none;
  transition: 0.3s ease-in;
  color: inherit;
}
.overlay-list-item > a.active, .overlay-list-item > a:hover {
  background-color: white;
  color: #47a4f5;
}
.overlay-sub-list {
  margin: 0;
  list-style: none;
  padding: 0 60px;
  display: none;
}
.overlay-sub-list-item {
  padding: 6px 0;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  transition: 0.3s ease-in;
}
.overlay-sub-list-item > a {
  padding: 6px;
  display: block;
  text-decoration: none;
  color: inherit;
}
.overlay-sub-list-item.active, .overlay-sub-list-item:hover {
  background-color: white;
  color: #47a4f5;
}

.notification {
  position: fixed;
  bottom: 24px;
  left: 24px;
  background-color: white;
  transition: 0.3s ease-in;
  box-shadow: 0px 8px 30px #00000029;
  width: 340px;
  padding: 15px 30px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 999;
}
.notification.open {
  opacity: 1;
}
.notification-close {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  color: #00315c;
}
.notification-title, .notification-description {
  align-self: flex-start;
}
.notification-title {
  color: #47a4f5;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}
.notification-description {
  font-size: 14px;
}

.block_title {
  display: flex;
}
.block_title-text {
  font-size: 40px;
  padding-bottom: 12px;
  color: black;
  font-weight: bold;
  padding-right: 36px;
  border-bottom: 3px solid #47a4f5;
}

.service_item {
  display: flex;
  flex-direction: row;
}
.service_item-image {
  flex: 0 0 45%;
  max-width: 45%;
  width: 45%;
}
.service_item-image img {
  width: 100%;
  object-fit: cover;
}
.service_item-right {
  background-color: white;
  padding: 24px;
  margin-top: 84px;
  margin-left: -10%;
}
.service_item-title {
  font-size: 18px;
  color: black;
  margin-bottom: 12px;
}
.service_item-text {
  font-size: 14px;
  line-height: 24px;
  color: black;
}

.feature {
  background-color: rgba(225, 225, 225, 0.7);
  padding: 150px 0;
}
.feature-swiper-navigation {
  margin-top: -100px;
  transform: translateY(120px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.feature-swiper-navigation-next, .feature-swiper-navigation-prev {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  color: #47a4f5;
  font-size: 75px;
  margin: 0 12px;
}
.feature-swiper-slide {
  height: auto;
}
.feature-swiper-slide-item {
  position: relative;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 50px;
}
.feature-swiper-slide-item-content {
  position: relative;
  z-index: 3;
  background-color: white;
  padding: 30px;
}
.feature-swiper-slide-item-content-title {
  color: #47a4f5;
  font-size: 26px;
  font-weight: 600;
}
.feature-swiper-slide-item-content-info-price {
  margin-top: 6px;
}
.feature-swiper-slide-item-content-info-price, .feature-swiper-slide-item-content-info-text {
  font-size: 14px;
  line-height: 24px;
}
.feature-swiper-slide-item-content-info-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.feature-swiper-slide-item::before {
  position: absolute;
  content: " ";
  background-color: rgba(71, 164, 245, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.feature-swiper-slide-item img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .feature-swiper-slide-item {
    min-height: 250px;
    padding: 20px 25px;
  }
}

.vacancy-top {
  background-color: rgba(71, 164, 245, 0.3);
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
}
.vacancy-top-item {
  padding: 0 12px;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.vacancy-top-item-value {
  padding-top: 6px;
  color: #47a4f5;
}
.vacancy-bot {
  margin-top: 24px;
  padding: 24px;
  border: 2px solid #47a4f5;
  display: none;
}
.vacancy-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0 -12px;
}
.vacancy-title {
  font-size: 18px;
  color: black;
  font-weight: 600;
}
.vacancy-button {
  margin-left: 12px;
}
.vacancy-button-btn {
  background-color: #47a4f5;
  color: white;
  padding: 12px 12px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.3s ease-in;
}
.vacancy-button-btn .fa {
  transition: 0.3s ease-in;
  margin-left: 12px;
}
.vacancy-button-btn.active, .vacancy-button-btn:hover {
  border-color: #47a4f5;
  background-color: white;
  color: #47a4f5;
}
.vacancy-button-btn.active .fa {
  transform: rotate(-180deg);
}
@media only screen and (max-width: 1023px) {
  .vacancy-top-item {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy-top {
    flex-direction: column;
    text-align: center;
  }
  .vacancy-button {
    margin-top: 24px;
  }
}

.slider {
  margin-bottom: 150px;
}
@media only screen and (max-width: 767px) {
  .slider {
    margin-bottom: 50px;
  }
}
.slider .background {
  margin-bottom: 0 !important;
}
.slider .swiper-pagination {
  bottom: 50px;
}
.slider .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 4px;
  opacity: 1 !important;
  margin-left: 6px !important;
  margin-right: 6px !important;
}
.slider .swiper-pagination-bullet-active {
  width: 30px;
  background-color: #47a4f5;
}

.gallery-content {
  margin: 0 auto;
  margin-bottom: 200px;
}
.gallery-content-list {
  margin: 0 -48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery_item-wrap {
  flex: 0 0 50%;
  max-width: 50%;
  width: 50%;
  padding: 24px 24px;
}
@media only screen and (max-width: 1023px) {
  .gallery-content {
    margin-bottom: 150px;
  }
  .gallery-content-list {
    margin-left: 0;
    margin-right: 0;
  }
  .gallery_item {
    padding: 12px;
    height: 400px;
  }
  .gallery_item-wrap {
    padding: 12px;
    padding-left: 0;
    padding-right: 0;
  }
  .gallery_item_link::after {
    transform: translateX(-24px) translateY(-12px);
  }
  .gallery_item:hover img {
    transform: translateX(-24px) translateY(-24px);
  }
}
@media only screen and (max-width: 767px) {
  .gallery-content {
    margin-bottom: 30px;
  }
  .gallery_item {
    padding: 12px;
    height: 300px;
  }
  .gallery_item-wrap {
    padding-top: 0;
    padding-bottom: 0;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}

.news.page {
  margin-bottom: 150px;
}
.news.page .news {
  overflow: hidden;
}
.news.page .news-wrapper {
  margin: 0 -24px;
}
@media only screen and (min-width: 768px) {
  .news.page .news_item {
    height: 100%;
  }
}
.news.page .news_item-wrap {
  padding: 24px 0;
}
@media only screen and (min-width: 768px) {
  .news.page .news_item-wrap {
    height: 100%;
  }
}
.news.page .news-pagination {
  margin-top: 48px;
}
@media only screen and (max-width: 767px) {
  .news.page {
    margin-bottom: 75px;
  }
}

.product.page {
  overflow: inherit;
  margin-bottom: 150px;
  overflow: hidden;
}
.product.page .product {
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .product.page .product_item {
    height: 100%;
  }
}
.product.page .product_item-wrap {
  padding: 24px;
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
  width: calc(100% / 3);
}
.product.page .product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -24px;
}
.product.page .product-pagination {
  margin-top: 48px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .product.page .product-list {
    margin: 0 -6px;
  }
  .product.page .product_item-wrap {
    padding: 6px;
  }
}
@media only screen and (max-width: 767px) {
  .product.page {
    margin-bottom: 75px;
  }
  .product.page .product-list {
    margin: 0 -3px;
  }
  .product.page .product_item-wrap {
    flex: 0 0 50% !important;
    width: 50% !important;
    max-width: 50% !important;
    padding: 3px;
  }
}

.contact-page.page .contact-page-map {
  width: 100%;
  height: 600px !important;
}
.contact-page.page .contact-page-content {
  background-color: #e1e1e1;
  padding: 24px 0;
}
.contact-page.page .contact-page-content-card {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding-bottom: 65px;
  padding-top: 180px;
  position: relative;
}
.contact-page.page .contact-page-content-card::after {
  content: "";
  top: 36px;
  bottom: 36px;
  width: 2px;
  left: 0;
  right: 0;
  margin: auto;
  pointer-events: none;
  background: #e1e1e1;
  z-index: 2;
  position: absolute;
}
.contact-page.page .contact-page-left, .contact-page.page .contact-page-right {
  flex: 0 0 50%;
  max-width: 50%;
  width: 50%;
  padding-left: 150px;
  padding-right: 150px;
}
.contact-page.page .contact-page-title {
  font-size: 40px;
  color: black;
  margin-bottom: 60px;
  font-weight: 500;
}
.contact-page.page .contact-page-left-title {
  text-align: center;
}
.contact-page.page .contact-page-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -6px;
}
.contact-page.page .contact-page-form .form-input-wrap {
  padding: 12px 6px;
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}
.contact-page.page .contact-page-form .form-input-wrap:nth-child(1), .contact-page.page .contact-page-form .form-input-wrap:nth-child(2) {
  flex: 0 0 50%;
  max-width: 50%;
  width: 50%;
}
.contact-page.page .contact-page-form .form-button {
  margin: 0 auto;
  margin-top: 24px;
}
@media only screen and (min-width: 1024px) and (max-width: 1679px) {
  .contact-page.page .contact-page-left, .contact-page.page .contact-page-right {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (max-width: 1023px) {
  .contact-page.page .contact-page-content-card {
    display: block;
  }
  .contact-page.page .contact-page-content-card::after {
    display: none;
  }
  .contact-page.page .contact-page-left, .contact-page.page .contact-page-right {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .contact-page.page .contact-page-title {
    text-align: center !important;
  }
  .contact-page.page .contact-page-right {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .contact-page.page .contact-page-map {
    height: 300px !important;
  }
  .contact-page.page .contact-page-form .form-input-wrap {
    width: 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .contact-page.page .contact-page-left, .contact-page.page .contact-page-right {
    padding-left: 18px;
    padding-right: 18px;
  }
  .contact-page.page .contact-page-title {
    font-size: 26px;
    margin-bottom: 0;
  }
  .contact-page.page .contact-page-content-card {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .contact-page.page .contact-page-right .contact-info {
    padding-top: 0 !important;
    text-align: center;
  }
  .contact-page.page .contact-page-right .network {
    justify-content: center;
  }
}

.about.page .about-info {
  padding-bottom: 36px;
  margin-bottom: 36px;
  border-bottom: 2px solid #47a4f5;
}
.about.page .about-info-title {
  font-size: 40px;
  color: black;
  margin-bottom: 24px;
}
.about.page .about-info-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -12px;
}
.about.page .about-info-left, .about.page .about-info-right {
  padding: 12px;
}
.about.page .about-info-left {
  flex: 0 0 50%;
  max-width: 50%;
  width: 50%;
}
.about.page .about-info-left-text {
  font-size: 18px;
  color: black;
  line-height: 28px;
}
.about.page .about-info-right {
  flex: 0 0 50%;
  max-width: 50%;
  width: 50%;
}
.about.page .about-info-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -6px;
}
.about.page .about-info-gallery-item {
  padding: 6px;
  flex: 0 0 50%;
  max-width: 50%;
  width: 50%;
}
.about.page .about-info-gallery .gallery_item {
  height: 220px;
}
.about.page .about-services {
  margin-top: 48px;
}
.about.page .about-services-title {
  margin-bottom: 48px;
}
.about.page .about-services-list-item {
  margin-bottom: 200px;
}
.about.page .about-gallery {
  margin-bottom: 200px;
}
.about.page .about-gallery .block_title {
  margin-bottom: 48px;
}
.about.page .about-gallery-swiper .swiper-wrapper {
  height: unset;
}
.about.page .about-gallery-swiper-slide {
  height: 400px;
}
.about.page .about-gallery-swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about.page .about-gallery-swiper-wrap {
  position: relative;
}
.about.page .about-gallery-swiper-next, .about.page .about-gallery-swiper-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  margin: auto;
}
.about.page .about-gallery-swiper-next {
  right: -24px;
  transform: translateX(100%);
}
.about.page .about-gallery-swiper-prev {
  left: -24px;
  transform: translateX(-100%);
}
@media only screen and (max-width: 1679px) {
  .about.page .about-services-list-item {
    margin-bottom: 100px;
  }
  .about.page .about-gallery {
    margin-bottom: 100px;
  }
  .about.page .about-gallery-swiper-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .about.page .about-gallery-swiper-next, .about.page .about-gallery-swiper-prev {
    transform: none;
    display: inline-flex;
    position: static;
    margin: 0 12px;
    margin-top: 24px;
    left: 0;
    right: 0;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1679px) {
  .about.page .about-gallery-swiper-slide {
    height: 300px;
  }
  .about.page .about-gallery-swiper-next, .about.page .about-gallery-swiper-prev {
    width: 60px !important;
    height: 60px !important;
  }
}
@media only screen and (max-width: 1023px) {
  .about.page .about-info-title {
    font-size: 26px;
    margin-bottom: 6px;
  }
  .about.page .about-info-wrapper {
    display: block;
  }
  .about.page .about-info-left, .about.page .about-info-right {
    width: auto;
    max-width: unset;
  }
}
@media only screen and (max-width: 1023px) and (max-width: 767px) {
  .about.page .about-info {
    border: 0;
  }
  .about.page .about-info-right {
    display: none;
  }
}
@media only screen and (max-width: 1023px) {
  .about.page .about-services-list-item {
    margin-bottom: 80px;
  }
  .about.page .about-services .service_item {
    display: block;
  }
  .about.page .about-services .service_item-image, .about.page .about-services .service_item-right {
    padding: 0;
    margin: 0;
    width: auto;
    max-width: unset;
  }
  .about.page .about-services .service_item-right {
    width: calc(100% - 12px);
    margin: 0 auto;
    margin-top: -60px;
    padding: 12px 36px;
  }
}
@media only screen and (max-width: 1023px) and (max-width: 767px) {
  .about.page .about-services .service_item-right {
    padding: 18px;
  }
}
@media only screen and (max-width: 1023px) {
  .about.page .about-gallery-swiper-slide {
    height: 300px;
  }
  .about.page .about-gallery-swiper-next, .about.page .about-gallery-swiper-prev {
    width: 60px !important;
    height: 60px !important;
  }
}

.news_inner.page .news_inner-info {
  padding-bottom: 36px;
  margin-bottom: 36px;
  border-bottom: 2px solid #47a4f5;
}
.news_inner.page .news_inner-info-title {
  font-size: 40px;
  color: black;
  margin-bottom: 24px;
}
.news_inner.page .news_inner-info-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -12px;
}
.news_inner.page .news_inner-info-left, .news_inner.page .news_inner-info-right {
  padding: 12px;
}
.news_inner.page .news_inner-info-left {
  flex: 0 0 50%;
  max-width: 50%;
  width: 50%;
}
.news_inner.page .news_inner-info-left-text {
  font-size: 18px;
  color: black;
  line-height: 28px;
}
.news_inner.page .news_inner-info-right {
  flex: 0 0 50%;
  max-width: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.news_inner.page .news_inner-info-gallery-item {
  padding: 6px;
}
.news_inner.page .news_inner-info-gallery .gallery_item {
  height: aut;
}
.news_inner.page .news_inner-info-share iframe {
  max-width: 100%;
}
.news_inner.page .news_inner-info-date {
  margin-bottom: 36px;
  color: #47a4f5;
  font-weight: bold;
  font-size: 14px;
}
.news_inner.page .news_inner-other {
  margin-top: 100px;
}
.news_inner.page .news_inner-other-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -12px;
  margin-top: 24px;
}
.news_inner.page .news_inner-other-list-item {
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
  width: calc(100% / 3);
  padding: 12px;
}
@media only screen and (min-width: 1024px) and (max-width: 1679px) {
  .news_inner.page .news_inner-other-list-item {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
  }
  .news_inner.page .news_inner-other-list-item:nth-child(3) {
    display: none;
  }
}
@media only screen and (max-width: 1023px) {
  .news_inner.page .news_inner-other-list {
    display: block;
  }
  .news_inner.page .news_inner-other-list-item {
    width: auto;
    max-width: unset;
    height: unset;
  }
}
@media only screen and (max-width: 1023px) {
  .news_inner.page .news_inner-info-title {
    font-size: 26px;
    margin-bottom: 6px;
  }
  .news_inner.page .news_inner-info-wrapper {
    display: block;
  }
  .news_inner.page .news_inner-info-left, .news_inner.page .news_inner-info-right {
    width: auto;
    max-width: unset;
  }
}
@media only screen and (max-width: 1023px) and (max-width: 767px) {
  .news_inner.page .news_inner-info {
    border: 0;
  }
  .news_inner.page .news_inner-info-right {
    display: none;
  }
}

.product_inner.page .product_inner-image {
  object-fit: cover;
  width: 100%;
}
.product_inner.page .product_inner-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
}
.product_inner.page .product_inner-form.active {
  display: flex;
}
.product_inner.page .product_inner-form .form-button {
  margin: 0 auto;
  margin-top: 24px;
}
.product_inner.page .product_inner-form .form-input-wrap {
  padding: 12px;
}
.product_inner.page .product_inner-form .form-input-wrap:not(.product_inner.page .product_inner-form .form-input-wrap-last) {
  width: 50% !important;
  max-width: 50% !important;
  flex: 0 0 50% !important;
}
.product_inner.page .product_inner-form .form-input-wrap-last {
  width: 100% !important;
  max-width: 100% !important;
  flex: 0 0 100% !important;
}
.product_inner.page .product_inner-form .form-input-checkbox::before {
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  content: "";
  background-color: #f6f6f6;
  pointer-events: none;
}
.product_inner.page .product_inner-form .form-input-checkbox label {
  position: absolute;
  left: 36px;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}
.product_inner.page .product_inner-form .form-input-checkbox input {
  width: auto;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 36px;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}
.product_inner.page .product_inner-info {
  padding-bottom: 36px;
  margin-bottom: 36px;
  display: flex;
  flex-direction: row;
}
.product_inner.page .product_inner-info-back {
  border: 0;
  background-color: #47a4f5;
  padding: 12px;
  transition: 0.3s ease-in;
  color: white;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product_inner.page .product_inner-info-back-div {
  display: flex;
  margin: 36px 0;
}
.product_inner.page .product_inner-info-back:hover {
  background-color: #178cf2;
}
.product_inner.page .product_inner-info-back .fa {
  margin-right: 6px;
}
.product_inner.page .product_inner-info-button_contact {
  border: 0;
  background-color: rgba(71, 164, 245, 0.3);
  padding: 15px 36px;
  transition: 0.3s ease-in;
  color: black;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product_inner.page .product_inner-info-button_contact-wrap {
  display: flex;
  margin-top: 36px;
}
.product_inner.page .product_inner-info-button_contact .fa {
  color: #47a4f5;
  margin-left: 24px;
  font-size: 26px;
}
@media only screen and (max-width: 1023px) {
  .product_inner.page .product_inner-info {
    display: block;
  }
}
.product_inner.page .product_inner-info-left {
  flex: 0 0 40%;
  max-width: 40%;
  width: 40%;
  align-self: flex-start;
}
.product_inner.page .product_inner-info-right {
  flex: 0 0 calc(60% - 100px);
  max-width: calc(60% - 100px);
  width: calc(60% - 100px);
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .product_inner.page .product_inner-info-right {
    flex: 0 0 calc(60% - 50px);
    max-width: calc(60% - 50px);
    width: calc(60% - 50px);
    margin-left: 50px;
  }
}
@media only screen and (max-width: 1023px) {
  .product_inner.page .product_inner-info-left, .product_inner.page .product_inner-info-right {
    flex: unset !important;
    width: 100% !important;
    max-width: unset !important;
  }
  .product_inner.page .product_inner-info-right {
    width: calc(100% - 12px * 2) !important;
    padding: 24px 12px;
    background-color: white;
    margin: 0 12px;
    margin-top: -36px;
  }
}
.product_inner.page .product_inner-info-title {
  font-size: 40px;
  font-weight: bold;
}
.product_inner.page .product_inner-info-price, .product_inner.page .product_inner-info-description-title {
  font-size: 26px;
  font-weight: 400;
}
.product_inner.page .product_inner-info-price {
  margin-top: 36px;
  margin-bottom: 12px;
}
.product_inner.page .product_inner-info-button {
  border: 0;
  background-color: #47a4f5;
  padding: 12px 36px;
  margin-top: 36px;
  transition: 0.3s ease-in;
  color: white;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product_inner.page .product_inner-info-gallery-item {
  padding: 6px;
}
.product_inner.page .product_inner-info-gallery .gallery_item {
  height: aut;
}
.product_inner.page .product_inner-info-share iframe {
  max-width: 100%;
}
.product_inner.page .product_inner-info-date {
  margin-bottom: 36px;
  color: #47a4f5;
  font-weight: bold;
  font-size: 14px;
}
.product_inner.page .product_inner-other {
  margin-top: 100px;
}
.product_inner.page .product_inner-other-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -12px;
  margin-top: 24px;
}
.product_inner.page .product_inner-other-list-item {
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
  width: calc(100% / 3);
  padding: 12px;
}
@media only screen and (max-width: 1023px) {
  .product_inner.page .product_inner-other-list-item {
    width: auto;
    max-width: unset;
    height: unset;
  }
}
@media only screen and (max-width: 1023px) {
  .product_inner.page .product_inner-other {
    margin-bottom: 100px;
    margin-top: 0;
  }
  .product_inner.page .product_inner-other-list-item {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
  }
  .product_inner.page .product_inner-other-list-item:nth-child(3) {
    display: none;
  }
  .product_inner.page .product_inner-info-title {
    font-size: 26px;
    margin-bottom: 6px;
  }
  .product_inner.page .product_inner-info-left, .product_inner.page .product_inner-info-right {
    width: auto;
    max-width: unset;
  }
}
@media only screen and (max-width: 1023px) and (max-width: 767px) {
  .product_inner.page .product_inner-info {
    border: 0;
  }
  .product_inner.page .product_inner-info-right .product_inner-form.active {
    display: flex !important;
  }
  .product_inner.page .product_inner-info-right .product_inner-form .form-input-wrap {
    padding: 12px 0;
  }
  .product_inner.page .product_inner-info-right .product_inner-form .form-input-wrap:not(.product_inner.page .product_inner-info-right .product_inner-form .form-input-wrap-last) {
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
  .product_inner.page .product_inner-info-right .product_inner-form .form-input-wrap-last {
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
}

.page.home .home-info .block_title-text {
  border-bottom: 0;
}
.page.home .home-info-content {
  line-height: 20px !important;
}
.page.home .vacancies {
  margin: 60px 0;
}
.page.home .vacancies-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
.page.home .vacancies-more {
  text-decoration: none;
  color: #47a4f5;
}
.page.home .vacancies-list-item {
  margin: 24px 0;
}
.page.home .home-services {
  margin-top: 150px;
}
.page.home .home-services .block_title {
  margin-bottom: 36px;
}
.page.home .home-services-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -12px;
}
.page.home .home-services-list-item {
  padding: 12px;
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
  width: calc(100% / 3);
}
.page.home .home-services-list-item-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.page.home .home-services-list-item-content > div {
  display: flex;
  flex-direction: column;
}
.page.home .home-services-list-item-content img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.page.home .home-services-list-item-content-texts {
  background-color: white;
  width: 90%;
  margin-left: 10%;
  padding: 12px;
  margin-top: -48px;
}
.page.home .home-services-list-item-content-texts-title {
  margin-bottom: 6px;
}
.page.home .home-services-list-item-content-texts-text {
  font-size: 14px;
  line-height: 19px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.page.home .home-services-list-item-content-texts-link {
  align-self: flex-end;
  color: #47a4f5;
  margin-top: 12px;
  font-size: 14px;
  text-decoration: none;
}
.page.home .home-news {
  margin-top: 100px;
  margin-bottom: 200px;
}
@media only screen and (max-width: 767px) {
  .page.home .home-news {
    margin-top: 80px;
    margin-bottom: 100px;
  }
}
.page.home .home-news .block_title {
  margin-bottom: 48px;
}
.page.home .home-news-swiper .swiper-wrapper {
  height: unset;
}
.page.home .home-news-swiper-wrap {
  position: relative;
}
.page.home .home-news-swiper-next, .page.home .home-news-swiper-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  margin: auto;
}
.page.home .home-news-swiper-next {
  right: -24px;
  transform: translateX(100%);
}
.page.home .home-news-swiper-prev {
  left: -24px;
  transform: translateX(-100%);
}
@media only screen and (max-width: 1679px) {
  .page.home .home-news-swiper-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .page.home .home-news-swiper-next, .page.home .home-news-swiper-prev {
    transform: none;
    display: inline-flex;
    position: static;
    margin: 0 12px;
    margin-top: 24px;
    left: 0;
    right: 0;
  }
}
@media only screen and (max-width: 1023px) {
  .page.home .home-services-list-item {
    flex: 1 0 50% !important;
    max-width: 100% !important;
    width: unset !important;
  }
  .page.home .vacancies-header {
    flex-direction: column;
  }
  .page.home .vacancies-header .block_title {
    margin-bottom: 12px;
  }
  .page.home .vacancies-header .block_title-text {
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .page.home .home-services-list {
    margin: 0 !important;
  }
  .page.home .home-services-list-item {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important;
  }
}

.page.vacnacies .vacancy-wrapper {
  margin-bottom: 100px;
}
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  .page.vacnacies .vacancy-wrapper .container-xxs .row > div {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}
.page.vacnacies .vacancies-list-item {
  margin: 24px 0;
}

* {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

*::selection {
  background-color: #47a4f5;
  color: white;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

input:not([type=checkbox]),
button,
textarea {
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}
input:not([type=checkbox])::-ms-clear, input:not([type=checkbox])::-ms-reveal, input:not([type=checkbox])::-webkit-search-decoration, input:not([type=checkbox])::-webkit-search-cancel-button, input:not([type=checkbox])::-webkit-search-results-button,
button::-ms-clear,
button::-ms-reveal,
button::-webkit-search-decoration,
button::-webkit-search-cancel-button,
button::-webkit-search-results-button,
textarea::-ms-clear,
textarea::-ms-reveal,
textarea::-webkit-search-decoration,
textarea::-webkit-search-cancel-button,
textarea::-webkit-search-results-button {
  display: none !important;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Popins", sans-serif;
}

.button-left,
.button-right {
  width: 80px;
  height: 80px;
  border-radius: 25px;
  background-color: rgba(71, 164, 245, 0.8);
  outline: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  box-shadow: 0px 10px 20px #0000001a;
}

.text-primary {
  color: #47a4f5;
}

/*# sourceMappingURL=style.css.map */
