.about.page {
  .about {
    &-info {
      padding-bottom: $gap * 3;
      margin-bottom: $gap * 3;
      border-bottom: 2px solid $primary;

      &-title {
        font-size: $fs1;
        color: $black;
        margin-bottom: $gap * 2;
      }
      &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 $gap / -1;
      }

      &-left,
      &-right {
        padding: $gap;
      }

      &-left {
        @include flexWidth(50%);
        &-text {
          font-size: $fs3;
          color: $black;
          line-height: $fs3 + 10px;
        }
      }

      &-right {
        @include flexWidth(50%);
      }

      &-gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: $gap / -2;

        &-item {
          padding: $gap / 2;
          @include flexWidth(50%);
        }

        .gallery_item {
          height: 220px;
        }
      }
    }
    &-services {
      margin-top: $gap * 4;

      &-title {
        margin-bottom: $gap * 4;
      }

      &-list {
        &-item {
          margin-bottom: 200px;
        }
      }
    }

    &-gallery {
      margin-bottom: 200px;

      .block_title {
        margin-bottom: $gap * 4;
      }

      &-swiper {
        .swiper-wrapper {
          height: unset;
        }
        &-slide {
          height: 400px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &-wrap {
          position: relative;
        }

        &-next,
        &-prev {
          position: absolute;
          top: 0;
          bottom: 0;
          z-index: 2;
          margin: auto;
        }
        &-next {
          right: -$gap * 2;
          transform: translateX(100%);
        }
        &-prev {
          left: -$gap * 2;
          transform: translateX(-100%);
        }
      }
    }

    @media only screen and (max-width: $xl - 1px) {
      &-services {
        &-list {
          &-item {
            margin-bottom: 100px;
          }
        }
      }
      &-gallery {
        margin-bottom: 100px;
        &-swiper {
          &-buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
          }
          &-next,
          &-prev {
            transform: none;
            display: inline-flex;
            position: static;
            margin: 0 $gap;
            margin-top: $gap * 2;
            left: 0;
            right: 0;
          }
        }
      }
    }

    @media only screen and (min-width: $lg) and (max-width: $xl - 1px) {
      &-gallery {
        &-swiper {
          &-slide {
            height: 300px;
          }

          &-next,
          &-prev {
            width: 60px !important;
            height: 60px !important;
          }
        }
      }
    }

    @media only screen and (max-width: $lg - 1px) {
      &-info {
        &-title {
          font-size: $fs2;
          margin-bottom: $gap / 2;
        }
        &-wrapper {
          display: block;
        }
        &-left,
        &-right {
          width: auto;
          max-width: unset;
        }

        @media only screen and (max-width: $md - 1px) {
          &-right {
            display: none;
          }
          border: 0;
        }
      }
      &-services {
        &-list {
          &-item {
            margin-bottom: 80px;
          }
        }

        .service_item {
          display: block;

          &-image,
          &-right {
            padding: 0;
            margin: 0;
            width: auto;
            max-width: unset;
          }

          &-right {
            width: calc(100% - #{$gap});
            margin: 0 auto;
            margin-top: -$gap * 5;
            padding: $gap $gap * 3;

            @media only screen and (max-width: $md - 1px) {
              padding: $gap * 1.5;
            }
          }
        }
      }
      &-gallery {
        &-swiper {
          &-slide {
            height: 300px;
          }

          &-next,
          &-prev {
            width: 60px !important;
            height: 60px !important;
          }
        }
      }
    }
  }
}
