.contact-page.page {
  .contact-page {
    &-map {
      width: 100%;
      height: 600px !important;
    }

    &-content {
      background-color: $gray;
      padding: $gap * 2 0;

      &-card {
        background-color: $white;
        display: flex;
        flex-direction: row;
        padding-bottom: 65px;
        padding-top: 180px;
        position: relative;
        &::after {
          content: "";
          top: $gap * 3;
          bottom: $gap * 3;
          width: 2px;
          left: 0;
          right: 0;
          margin: auto;
          pointer-events: none;
          background: $gray;
          z-index: 2;
          position: absolute;
        }
      }
    }
    &-left,
    &-right {
      @include flexWidth(50%);
      padding-left: 150px;
      padding-right: 150px;
    }

    &-title {
      font-size: $fs1;
      color: $black;
      margin-bottom: 60px;
      font-weight: 500;
    }
    &-left-title {
      text-align: center;
    }

    &-form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 $gap / -2;

      .form {
        &-input {
          &-wrap {
            padding: $gap $gap / 2;
            @include flexWidth(100%);
            &:nth-child(1),
            &:nth-child(2) {
              @include flexWidth(50%);
            }
          }
        }
        &-button {
          margin: 0 auto;
          margin-top: $gap * 2;
        }
      }
    }

    @media only screen and (min-width: $lg) and (max-width: $xl - 1px) {
      &-left,
      &-right {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
    @media only screen and (max-width: $lg - 1px) {
      &-content {
        &-card {
          display: block;
          &::after {
            display: none;
          }
        }
      }
      &-left,
      &-right {
        @include flexWidth(100%);
        padding-left: 50px;
        padding-right: 50px;
      }
      &-title {
        text-align: center !important;
      }

      &-right {
        margin-top: $gap * 5;
      }
    }
    @media only screen and (max-width: $md - 1px) {
      &-map {
        height: 300px !important;
      }
      &-form {
        .form {
          &-input {
            &-wrap {
              width: 100% !important;
              flex: 0 0 100% !important;
              max-width: 100% !important;
            }
          }
        }
      }
      &-left,
      &-right {
        padding-left: $gap * 1.5;
        padding-right: $gap * 1.5;
      }
      &-title {
        font-size: $fs2;
        margin-bottom: 0;
      }
      &-content-card {
        padding-top: $gap * 3;
        padding-bottom: $gap * 3;
      }
      &-right {
        .contact-info {
          padding-top: 0 !important;
          text-align: center;
        }
        .network {
          justify-content: center;
        }
      }
    }
  }
}
