.gallery {
  &-content {
    margin: 0 auto;
    margin-bottom: 200px;

    &-list {
      margin: 0 $gap * -4;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &_item {
    &-wrap {
      @include flexWidth(50%);
      padding: $gap * 2 $gap * 2;
    }
  }

  @media only screen and (max-width: $lg - 1) {
    &-content {
      margin-bottom: 150px;
      &-list {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &_item {
      padding: $gap;
      height: 400px;
      &-wrap {
        padding: $gap;
        padding-left: 0;
        padding-right: 0;
      }
      &_link::after {
        transform: translateX(-$gap * 2) translateY(-$gap * 1);
      }
      &:hover img {
        transform: translateX(-$gap * 2) translateY(-$gap * 2);
      }
    }
  }
  @media only screen and (max-width: $md - 1) {
    &-content {
      margin-bottom: 30px;
    }
    &_item {
      padding: $gap;
      height: 300px;
      &-wrap {
        padding-top: 0;
        padding-bottom: 0;
        @include flexWidth(100%);
      }
    }
  }
}
