.page.home {
  .home-info {
    .block_title {
      &-text {
        border-bottom: 0;
      }
    }
    &-content {
      line-height: 20px !important;
    }
  }
  .vacancies {
    margin: $gap * 5 0;
    &-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $gap * 3;
    }
    &-more {
      text-decoration: none;
      color: $primary;
    }

    &-list {
      &-item {
        margin: $gap * 2 0;
      }
    }
  }

  .home-services {
    margin-top: 150px;

    .block_title {
      margin-bottom: $gap * 3;
    }

    &-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 $gap / -1;

      &-item {
        padding: $gap;
        @include flexWidth(calc(100% / 3));

        &-content {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-wrap: wrap;
          > div {
            display: flex;
            flex-direction: column;
          }

          img {
            width: 100%;
            height: 250px;
            object-fit: cover;
          }

          &-texts {
            background-color: $white;
            width: 90%;
            margin-left: 10%;
            padding: $gap;
            margin-top: -$gap * 4;

            &-title {
              margin-bottom: $gap / 2;
            }
            &-text {
              font-size: $fs4;
              line-height: $fs4 + 5px;

              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
            &-link {
              align-self: flex-end;
              color: $primary;
              margin-top: $gap;
              font-size: $fs4;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .home-news {
    margin-top: 100px;
    margin-bottom: 200px;
    @media only screen and (max-width: $md - 1px) {
      margin-top: 80px;
      margin-bottom: 100px;
    }

    .block_title {
      margin-bottom: $gap * 4;
    }

    &-swiper {
      .swiper-wrapper {
        height: unset;
      }

      &-wrap {
        position: relative;
      }

      &-next,
      &-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 2;
        margin: auto;
      }
      &-next {
        right: -$gap * 2;
        transform: translateX(100%);
      }
      &-prev {
        left: -$gap * 2;
        transform: translateX(-100%);
      }
    }
  }
  @media only screen and (max-width: $xl - 1px) {
    .home-news {
      &-swiper {
        &-buttons {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
        &-next,
        &-prev {
          transform: none;
          display: inline-flex;
          position: static;
          margin: 0 $gap;
          margin-top: $gap * 2;
          left: 0;
          right: 0;
        }
      }
    }
  }

  @media only screen and (max-width: $lg - 1px) {
    .home-services {
      &-list {
        &-item {
          flex: 1 0 50% !important;
          max-width: 100% !important;
          width: unset !important;
        }
      }
    }
    .vacancies {
      &-header {
        flex-direction: column;

        .block_title {
          margin-bottom: $gap;
        }
        .block_title-text {
          padding-right: 0;
        }
      }
    }
  }
  @media only screen and (max-width: $md - 1px) {
    .home-services {
      &-list {
        margin: 0 !important;
        &-item {
          flex: 0 0 100% !important;
          max-width: 100% !important;
          width: 100% !important;
        }
      }
    }
  }
}
