.news_inner.page {
  .news_inner {
    &-info {
      padding-bottom: $gap * 3;
      margin-bottom: $gap * 3;
      border-bottom: 2px solid $primary;

      &-title {
        font-size: $fs1;
        color: $black;
        margin-bottom: $gap * 2;
      }
      &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 $gap / -1;
      }

      &-left,
      &-right {
        padding: $gap;
      }

      &-left {
        @include flexWidth(50%);
        &-text {
          font-size: $fs3;
          color: $black;
          line-height: $fs3 + 10px;
        }
      }

      &-right {
        @include flexWidth(50%);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      &-gallery {
        &-item {
          padding: $gap / 2;
        }

        .gallery_item {
          height: aut;
        }
      }

      &-share {
        iframe {
          max-width: 100%;
        }
      }

      &-date {
        margin-bottom: $gap * 3;
        color: $primary;
        font-weight: bold;
        font-size: $fs4;
      }
    }

    &-other {
      margin-top: 100px;

      &-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 $gap / -1;
        margin-top: $gap * 2;

        &-item {
          @include flexWidth(calc(100% / 3));
          padding: $gap;
        }
      }

      @media only screen and (min-width: $lg) and (max-width: $xl - 1px) {
        &-list-item {
          @include flexWidth(50%);
          &:nth-child(3) {
            display: none;
          }
        }
      }
      @media only screen and (max-width: $lg - 1px) {
        &-list {
          display: block;
        }
        &-list-item {
          width: auto;
          max-width: unset;
          height: unset;
        }
      }
    }

    @media only screen and (max-width: $lg - 1px) {
      &-info {
        &-title {
          font-size: $fs2;
          margin-bottom: $gap / 2;
        }
        &-wrapper {
          display: block;
        }
        &-left,
        &-right {
          width: auto;
          max-width: unset;
        }

        @media only screen and (max-width: $md - 1px) {
          &-right {
            display: none;
          }
          border: 0;
        }
      }
    }
  }
}
