.news.page {
  margin-bottom: 150px;
  .news {
    overflow: hidden;
    &-wrapper {
      margin: 0 $gap * -2;
    }
    &_item {
      @media only screen and (min-width: $md) {
        height: 100%;
      }
      &-wrap {
        padding: $gap * 2 0;
        @media only screen and (min-width: $md) {
          height: 100%;
        }
      }
    }

    &-pagination {
      margin-top: $gap * 4;
    }
  }
  @media only screen and (max-width: $md - 1px) {
    margin-bottom: 75px;
  }
}
