.product_inner.page {
  .product_inner {
    &-image {
      object-fit: cover;
      width: 100%;
    }
    &-form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      display: none;
      &.active {
        display: flex;
      }

      .form-button {
        margin: 0 auto;
        margin-top: $gap * 2;
      }

      .form-input {
        &-wrap {
          padding: $gap;
          &:not(&-last) {
            width: 50% !important;
            max-width: 50% !important;
            flex: 0 0 50% !important;
          }
          &-last {
            width: 100% !important;
            max-width: 100% !important;
            flex: 0 0 100% !important;
          }
        }

        &-checkbox {
          &::before {
            position: absolute;
            top: $gap;
            left: $gap;
            right: $gap;
            bottom: $gap;
            content: "";
            background-color: $lightGray;
            pointer-events: none;
          }

          label {
            position: absolute;
            left: $gap * 3;
            margin: auto;
            top: 50%;
            transform: translateY(-50%);
          }

          input {
            width: auto;
            position: absolute;
            width: 20px;
            height: 20px;
            right: $gap * 3;
            margin: auto;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    &-info {
      padding-bottom: $gap * 3;
      margin-bottom: $gap * 3;

      &-back {
        &-div {
          display: flex;
          margin: $gap * 3 0;
        }
        border: 0;
        background-color: $primary;
        padding: $gap;
        transition: $transition;
        color: $white;
        outline: none;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;

        &:hover {
          background-color: darken($primary, 10%);
        }

        .fa {
          margin-right: $gap / 2;
        }
      }

      &-button {
        &_contact {
          &-wrap {
            display: flex;
            margin-top: $gap * 3;
          }
          border: 0;
          background-color: rgba($primary, 0.3);
          padding: $gap * 1.25 $gap * 3;
          transition: $transition;
          color: $black;
          outline: none;
          cursor: pointer;
          text-decoration: none;
          display: flex;
          flex-direction: row;
          align-items: center;

          .fa {
            color: $primary;
            margin-left: $gap * 2;
            font-size: $fs2;
          }
        }
      }

      display: flex;
      flex-direction: row;

      @media only screen and (max-width: $lg - 1px) {
        display: block;
      }

      &-left {
        @include flexWidth(40%);
        align-self: flex-start;
      }

      &-right {
        @include flexWidth(calc(60% - 100px));
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media only screen and (min-width: $lg) and (max-width: $xl2) {
          @include flexWidth(calc(60% - 50px));
          margin-left: 50px;
        }
      }
      @media only screen and (max-width: $lg - 1px) {
        &-left,
        &-right {
          flex: unset !important;
          width: 100% !important;
          max-width: unset !important;
        }

        &-right {
          width: calc(100% - #{$gap} * 2) !important;
          padding: $gap * 2 $gap;
          background-color: $white;
          margin: 0 $gap;
          margin-top: $gap * -3;
        }
      }

      &-title {
        font-size: $fs1;
        font-weight: bold;
      }

      &-price,
      &-description-title {
        font-size: $fs2;
        font-weight: 400;
      }

      &-price {
        margin-top: $gap * 3;
        margin-bottom: $gap * 1;
      }

      &-button {
        border: 0;
        background-color: $primary;
        padding: $gap $gap * 3;
        margin-top: $gap * 3;
        transition: $transition;
        color: $white;
        outline: none;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &-gallery {
        &-item {
          padding: $gap / 2;
        }

        .gallery_item {
          height: aut;
        }
      }

      &-share {
        iframe {
          max-width: 100%;
        }
      }

      &-date {
        margin-bottom: $gap * 3;
        color: $primary;
        font-weight: bold;
        font-size: $fs4;
      }
    }

    &-other {
      margin-top: 100px;

      &-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 $gap / -1;
        margin-top: $gap * 2;

        &-item {
          @include flexWidth(calc(100% / 3));
          padding: $gap;
        }
      }

      @media only screen and (max-width: $lg - 1px) {
        &-list-item {
          width: auto;
          max-width: unset;
          height: unset;
        }
      }
    }

    @media only screen and (max-width: $lg - 1px) {
      &-other {
        margin-bottom: 100px;
        margin-top: 0;
      }
      &-other-list-item {
        @include flexWidth(50%);
        &:nth-child(3) {
          display: none;
        }
      }
      &-info {
        &-title {
          font-size: $fs2;
          margin-bottom: $gap / 2;
        }
        &-left,
        &-right {
          width: auto;
          max-width: unset;
        }

        @media only screen and (max-width: $md - 1px) {
          &-right {
            .product_inner-form {
              &.active {
                display: flex !important;
              }

              .form-input {
                &-wrap {
                  padding: $gap 0;
                  &:not(&-last) {
                    width: 100% !important;
                    max-width: 100% !important;
                    flex: 0 0 100% !important;
                  }
                  &-last {
                    width: 100% !important;
                    max-width: 100% !important;
                    flex: 0 0 100% !important;
                  }
                }
              }
            }
          }
          border: 0;
        }
      }
    }
  }
}
