.product.page {
  overflow: inherit;
  margin-bottom: 150px;
  overflow: hidden;
  .product {
    overflow: hidden;
    &_item {
      @media only screen and (min-width: $md) {
        height: 100%;
      }
      &-wrap {
        padding: $gap * 2;
        @include flexWidth(calc(100% / 3));
      }
    }

    &-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 $gap * -2;
    }

    &-pagination {
      margin-top: $gap * 4;
    }
  }

  @media only screen and (min-width: $md) and (max-width: $lg - 1px) {
    .product {
      &-list {
        margin: 0 $gap / -2;
      }
      &_item {
        &-wrap {
          padding: $gap / 2;
        }
      }
    }
  }
  @media only screen and (max-width: $md - 1px) {
    .product {
      &-list {
        margin: 0 $gap / -4;
      }
      &_item-wrap {
        flex: 0 0 50% !important;
        width: 50% !important;
        max-width: 50% !important;
        padding: $gap / 4;
      }
    }
    margin-bottom: 75px;
  }
}
