.page.vacnacies {
  .vacancy-wrapper {
    margin-bottom: 100px;
    @media only screen and (min-width: 1024px) and (max-width: 1365px) {
      .container-xxs {
        .row {
          > div {
            @include flexWidth(100%);
          }
        }
      }
    }
  }
  .vacancies {
    &-list {
      &-item {
        margin: $gap * 2 0;
      }
    }
  }
}
