.background {
  position: relative;
  height: 70vh;
  min-height: 700px;
  margin-bottom: 100px;
  overflow: hidden;

  &-title {
    font-size: $fs-1;
    color: $white;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40%;
    z-index: 5;
    font-weight: bold;
    margin: auto;
  }
  &-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    object-position: bottom;
    height: 100%;
  }
  &-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba($dark, 0.2);
  }
  &::before {
    content: "";
    position: absolute;
    pointer-events: none;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120%;
    z-index: 4;
    background: linear-gradient(
      360deg,
      rgba(2, 0, 36, 0.7) 0%,
      rgba(0, 212, 255, 0) 90%
    );
  }

  @media only screen and (max-width: $lg - 1px) {
    min-height: 500px;
    height: 60vh;
    margin-bottom: 80px;
    &-title {
      bottom: 30%;
      font-size: $fs0;
    }
  }

  @media only screen and (max-width: $md - 1px) {
    margin-bottom: 30px;
  }
}
