.contact {
  overflow: hidden;
  padding: $gap * 5 0;
  &-row {
    align-items: center;
    position: relative;
  }
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
    height: 100%;
    width: 100%;
    bottom: 0;
    &::before {
      content: "";
      position: absolute;
      top: $gap * -5;
      // left: calc((100vw - 100%) * 8);
      left: 0;
      right: calc((100vw - 100%) / -2);
      bottom: $gap * -5;
      background-color: rgba($primary, 0.3);
      transition: $duration * 3 $ease_cubic;
      transform-origin: right;
      transform: scaleX(0);
    }
    .contact.aos-animate & {
      &::before {
        transform: scaleX(1);
      }
    }
  }
  &-left {
    padding-right: 25px;
    position: relative;

    &::before {
      content: "";
      background-color: $white;
      position: absolute;
      top: $gap * 5;
      bottom: $gap * -5;
      right: $gap * -2;
      left: 0;
      z-index: 1;
    }
    img {
      width: 100%;
      position: relative;
      z-index: 2;
      object-fit: cover;
      height: 100%;
      min-height: 400px;
    }
  }

  &-title {
    margin-top: $gap * -2;
    font-size: $fs1;
    color: $black;
    font-weight: 700;
  }
  &-address,
  &-hotline,
  &-mail,
  &-map,
  &-networks {
    color: $black;
    font-size: $fs3;
    padding: $gap / 2 0;
    a {
      color: inherit;
      text-decoration: none;
      transition: $transition;
      &:hover {
        color: $primary;
      }
    }
  }
  &-networks {
    color: $primary;
    a {
      color: $primary;
    }
  }

  @media only screen and (min-width: $md) and (max-width: $xl - 1px) {
    padding-top: $gap * 2;
    padding-bottom: $gap * 2;
    &-title {
      font-size: $fs2;
    }
    &-left {
      padding-right: 10px;
      &::before {
        right: $gap * -0.5;
      }
    }
  }
  @media only screen and (max-width: $md - 1px) {
    padding: 30px 0;
    &-info {
      padding: $gap * 4 $gap;
    }
    .container-xxs {
      padding: 0;
    }

    &-address,
    &-hotline,
    &-mail,
    &-map,
    &-networks {
      font-size: $fs4;
    }
    &-title {
      font-size: $fs3;
    }
    &-bg {
      display: none;
    }
    &-title {
      margin-top: 0;
    }
    &-left {
      display: none;
    }
    &-right {
      background-color: rgba($gray, 0.3);
    }
  }
}
