.feature {
  background-color: rgba($gray, 0.7);
  padding: 150px 0;

  &-swiper {
    &-navigation {
      margin-top: -100px;
      transform: translateY(120px);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &-next,
      &-prev {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        padding: 0;
        outline: none;
        cursor: pointer;
        color: $primary;
        font-size: $fs-1;
        margin: 0 $gap;
      }
    }
    &-slide {
      height: auto;
      &-item {
        position: relative;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 50px;
        &-content {
          position: relative;
          z-index: 3;
          background-color: $white;
          padding: 30px;

          &-title {
            color: $primary;
            font-size: $fs2;
            font-weight: 600;
          }
          &-info {
            &-price {
              margin-top: $gap / 2;
            }
            &-price,
            &-text {
              font-size: $fs4;
              line-height: $fs4 + 10px;
            }
            &-text {
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
        }
        &::before {
          position: absolute;
          content: " ";
          background-color: rgba($primary, 0.7);
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  @media only screen and (max-width: $md - 1px) {
    &-swiper {
      &-slide {
        &-item {
          min-height: 250px;
          padding: 20px 25px;
        }
      }
    }
  }
}
