.footer {
  background-color: $darken;
  padding-top: 70px;
  padding-bottom: 45px;
  margin-top: 300px;

  &-logo {
    width: 290px;
    height: 90px;
    background-color: $white;
    img {
      height: 100%;
    }
  }

  &-copy {
    font-size: 14px;
    color: $white;
    padding: $gap 0;
  }

  &-hotline {
    color: $white;
    padding: $gap 0;
    font-size: 14px;
  }

  &-networks {
    color: $white;
  }

  &-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -$gap;

    &-block {
      &-first {
        @include flexWidth(37%);
      }
      &:not(&-first) {
        @include flexWidth(20%);
      }
      &-item {
        padding: $gap;
        font-size: $fs2;

        &-title {
          padding-bottom: $gap;
          color: $white;
          font-weight: 600;
        }

        &-list {
          margin: 0;
          padding: 0;
          list-style: none;

          &-item {
            padding: $gap / 2 0;
            color: $white;
            font-size: $fs3;
            a {
              color: inherit;
              display: block;
              text-decoration: none;
              transition: $transition;
              &:hover {
                color: $primary;
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: $md) and (max-width: $lg - 1px) {
    margin-top: 150px;
    &-content {
      &-block {
        flex: 0 0 calc(100% / 3) !important;
        width: calc(100% / 3) !important;
        max-width: calc(100% / 3) !important;
        &-first {
          order: 4;
          flex: 0 0 100%;
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
  @media only screen and (max-width: $md - 1px) {
    margin-top: 0;
    padding-bottom: $gap * 2;
    padding-top: $gap * 3;
    &-content {
      &-block {
        &:not(&-first) {
          display: none;
        }
        &-first {
          flex: 0 0 100% !important;
          max-width: 100% !important;
          width: 100% !important;
        }
      }
    }
  }
}
