.form {
  &-input {
    width: 100%;
    background-color: $lightGray;
    border: 0;
    outline: none;
    padding: $gap * 2 $gap * 1.5;
    resize: vertical;
    border: 2px solid transparent;

    &.invalid {
      border-color: red;
    }
  }

  &-button {
    background-color: $primary;
    padding: $gap $gap * 2;
    border-radius: 4px;
    border: 0;
    outline: none;
    transition: $transition;
    cursor: pointer;
    color: $white;

    &:hover {
      background-color: darken($primary, 10%);
    }
  }
}
