.gallery_item {
  a {
    display: block;
    text-decoration: none;
    line-height: 0;
    width: 100%;
    height: 100%;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-zoom {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    margin: auto;
    width: 75px;
    height: 65px;
    pointer-events: none;
    background-color: $primary;
    line-height: 65px;
    text-align: center;
    color: $white;
    transition: $transition;
    transform: translateY(20px);
    opacity: 0;
  }
  &:hover & {
    &-zoom {
      opacity: 1;
      transform: translateY(0);
    }
  }
  overflow: hidden;
  height: 500px;
  position: relative;

  img {
    position: relative;
    z-index: 3;
    transition: $transition;
  }

  &_link {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: $gap * 3;
      right: 0;
      left: $gap * 4;
      bottom: 0;
      transition: $transition;
      background-color: $primary;
      z-index: 1;
      transform: translateX(-$gap * 3) translateY(-$gap * 2);
    }
  }

  &:hover img {
    transform: translateX(-$gap * 3) translateY(-$gap * 3);
  }
  &:hover &_link::after {
    transform: translate(0);
  }
}
