.language-switch {
  position: relative;
  &-current {
    border-radius: 10px;
    background-color: rgba($black, 0.2);
    height: 40px;
    width: 106px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: $transition;
    padding-left: $gap / 2;
    padding-right: $gap;
    html.has-overlay & {
      color: $white !important;
    }

    cursor: pointer;
    &-flag {
      line-height: 0;
    }
    color: $white;
  }

  &-items {
    pointer-events: none;
    opacity: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $white;
    transform: translateY(100%);
    box-shadow: 0px 8px 30px #00000029;
    transition: $transition;
    padding: $gap / 2 0;
  }

  &-item {
    padding: $gap / 2 $gap;
    color: $black;
    transition: $transition;
    a {
      color: inherit;
      text-decoration: none;
      cursor: pointer;
    }
    &:hover {
      color: $primary;
    }
  }

  &:hover &-current {
    background-color: rgba($black, 0.7);
  }

  &:hover &-items {
    opacity: 1;
    pointer-events: all;
  }
}

.header {
  position: sticky;
  top: 35px;
  transition: $transition;
  z-index: 99;

  &-bg {
    margin-bottom: 70px;
    @media only screen and (min-width: $md) and (max-width: $lg - 1px) {
      margin-bottom: 60px;
    }
    @media only screen and (max-width: $md - 1px) {
      margin-bottom: 23px;
    }
  }

  &-image {
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 241px;
    width: 100%;
    object-fit: cover;
    @media only screen and (min-width: $md) and (max-width: $lg - 1px) {
      height: 190px;
    }
    @media only screen and (max-width: $md - 1px) {
      height: 161px;
    }
  }

  &-shrink {
    height: 0;
  }

  &-language-switch {
    margin-right: 15px;
    margin-left: 50px;
  }
  &-mobile {
    display: none;
  }

  &-mobile .header-language-switch {
    margin: 0;
  }
  &-mobile .language-switch-current {
    background-color: transparent !important;
    width: 86px;
    html.scrolled & {
      color: $black;
    }
    .language-switch-current-flag {
      display: none;
    }
  }

  &-content {
    background-color: $white;
    box-shadow: 0px 8px 30px #00000029;
    height: 131px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    width: 100%;
    transition: $transition;
    position: relative;
    left: 0;

    html.has-overlay & {
      background-color: transparent !important;
      color: white !important;
      box-shadow: none;
    }
  }

  html.scrolled & {
    transform: translateY(-35px);
    &-content {
      width: 100vw;
      left: calc((100vw - 100%) / -2);
    }
  }

  &-logo {
    height: 100%;
    a {
      display: block;
      height: 100%;
      img {
        width: 275px;
        // height: 100%;
        background-color: $primary;
      }
    }
  }

  &-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0 -30px;

    &-item {
      padding: 0 30px;
      position: relative;

      > a {
        display: block;
        text-decoration: none;
        color: $black;
        font-size: $fs3;
        text-transform: uppercase;

        position: relative;
        transition: $transition;
        html.has-overlay & {
          color: $white !important;
        }

        &::after {
          transition: $transition;
          opacity: 0;
          position: absolute;
          content: "";
          height: 3px;
          background-color: $primary;
          bottom: -10px;
          left: -$gap;
          width: calc(100% + #{$gap} * 2);
          right: -$gap;
        }
      }

      &:hover,
      &.active {
        > a {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  &-list-item:hover &-sub-list {
    opacity: 1;
    pointer-events: all;
  }

  &-sub-list {
    pointer-events: none;
    opacity: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $white;
    transform: translateY(100%);
    box-shadow: 0px 8px 30px #00000029;
    transition: $transition;
    padding: $gap / 2 0;

    &-item {
      > a {
        display: block;
        text-decoration: none;
        color: $black;
        font-size: $fs4;
        text-transform: uppercase;

        position: relative;
        transition: $transition;

        padding: $gap $gap;
        white-space: nowrap;

        &::after {
          transition: $transition;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 3px;
          background-color: $primary;
          content: " ";
          transform: scaleY(0);
          transform-origin: center;
        }
      }

      &:hover,
      &.active {
        > a {
          &::after {
            opacity: 1;
            transform: scaleY(1);
          }
        }
      }
    }
  }

  &-bars {
    display: none;
    font-size: $fs0;
    color: $white;
    border: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    html.has-overlay & {
      color: $white !important;
    }
    html.scrolled & {
      color: $dark;
    }
    span.fa.fa-times {
      display: none;
    }
    html.has-overlay & span.fa.fa-bars {
      display: none;
    }
    html.has-overlay & span.fa.fa-times {
      display: block;
    }
  }

  @media only screen and (min-width: $xl2) and (max-width: $xl - 1px) {
    &-list {
      margin: 0 -15px;
      &-item {
        padding: 0 15px;
      }
    }
    &-language-switch {
      margin-right: 0;
      margin-left: 25px;
    }
  }

  @media only screen and (max-width: $xl2 - 1px) {
    &-menu {
      display: none;
    }
    &-bars {
      display: block;
    }
    &-mobile {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    &-content {
      align-items: center;
      height: auto;
      html:not(.scrolled) & {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }

  @media only screen and (max-width: $lg - 1px) {
    &-content {
      align-items: center;
      padding: 15px;
      padding-bottom: 0;
      transform: translateY(-15px);
      height: 100px;
      html:not(.scrolled) & {
        background-color: transparent;
        box-shadow: none;
      }
    }
    &-logo a {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-logo a img {
      width: 155px;
      height: auto;
    }
  }
}
