.network {
  padding: $gap 0;
  display: flex;
  flex-direction: row;
  align-items: cneter;
  margin: 0 $gap * -1;

  &-item {
    padding: $gap / 2 $gap;
    a {
      text-decoration: none;
      color: inherit;
      display: block;
      transition: $transition;
      font-size: 20px;
      &:hover {
        color: $primary;
      }
    }
  }
}
