.news_item {
  &-link {
    text-decoration: none;
    width: 100%;
    display: block;
    @media only screen and (min-width: $md) {
      height: 100%;
      display: flex;
    }

    flex-direction: column;
    justify-content: space-between;
  }

  &-title {
    font-size: $fs1;
    color: $black;
    margin: $gap * 2 0;
    font-weight: 600;
  }

  &-description {
    font-size: $fs3;
    color: $black;
    margin: $gap 0;
    line-height: $fs3 + 10px;
  }

  &-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: $gap;
    transition: $duration * 2 ease-in !important;
    opacity: 0 !important;
    &.aos-animate {
      opacity: 1 !important;
    }
  }

  &-date,
  &-more {
    font-size: $fs4;
    color: $primary;
    padding: $gap / 4 0;
  }

  &-more {
    border-top: 1px solid $primary;
    padding-left: 100px;
  }

  &-image {
    width: 100%;
    height: 325px;
    line-height: 0;
    margin-bottom: $gap;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media only screen and (max-width: $xl - 1px) {
    &-title {
      font-size: $fs2;
    }
    &-image {
      height: 300px;
    }
  }
}
