.notification {
  position: fixed;
  bottom: $gap * 2;
  left: $gap * 2;
  background-color: $white;

  transition: $transition;
  box-shadow: 0px 8px 30px #00000029;
  width: 340px;
  padding: 15px 30px;
  opacity: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  z-index: 999;

  &.open {
    opacity: 1;
  }

  &-close {
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: $dark;
  }

  &-title,
  &-description {
    align-self: flex-start;
  }

  &-title {
    color: $primary;
    font-size: $fs3;
    font-weight: bold;
    margin-bottom: $gap / 2;
  }
  &-description {
    font-size: $fs4;
  }
}
