.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($primary, 0.9);
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: $transition;

  html.has-overlay & {
    opacity: 1;
    pointer-events: all;
  }

  &-content {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      color: $white;
      font-weight: bold;
      text-align: center;
      font-size: $fs3;
      > a {
        padding: $gap $gap / 2;
        display: block;
        text-decoration: none;
        transition: $transition;
        color: inherit;

        &.active,
        &:hover {
          background-color: $white;
          color: $primary;
        }
      }
    }
  }

  &-sub-list {
    margin: 0;
    list-style: none;
    padding: 0 $gap * 5;
    display: none;
    &-item {
      padding: $gap / 2 0;

      color: $white;
      font-weight: bold;
      text-align: center;
      font-size: $fs3;
      transition: $transition;
      > a {
        padding: $gap / 2;
        display: block;
        text-decoration: none;
        color: inherit;
      }

      &.active,
      &:hover {
        background-color: $white;
        color: $primary;
      }
    }
  }
}
