.pagination {
  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 $gap / -2;

  > li {
    font-size: $fs2;
    font-weight: 500;
    color: $black;
    transition: $transition;
    margin: 0 $gap / 2;
    &:hover,
    &.active {
      color: $primary;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
