.product_item {
  background-color: rgba($primary, 0.3);
  &-link {
    padding: $gap * 3;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media only screen and (min-width: $md) {
      height: 100%;
    }
  }
  &-image {
    line-height: 0;
    height: 290px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-title {
    color: $black;
    text-decoration: none;
    font-size: $fs2;
    margin-top: $gap * 2;
    margin-bottom: $gap;
  }

  &-more {
    text-align: right;
  }

  @media only screen and (min-width: $md) and (max-width: $lg - 1px) {
    &-title {
      font-size: $fs3;
    }
    &-link {
      padding: $gap * 2;
    }
    &-image {
      height: 150px;
    }
  }

  @media only screen and (max-width: $md - 1px) {
    &-title {
      margin-top: $gap;
      font-size: $fs4;
    }
    &-link {
      padding: $gap;
    }
    &-more {
      display: none;
    }
    &-image {
      height: 150px;
    }
  }
}
