.service_item {
  display: flex;
  flex-direction: row;

  &-image {
    @include flexWidth(45%);

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &-right {
    background-color: $white;
    padding: $gap * 2;
    margin-top: $gap * 7;
    margin-left: -10%;
  }

  &-title {
    font-size: $fs3;
    color: $black;
    margin-bottom: $gap;
  }

  &-text {
    font-size: $fs4;
    line-height: $fs4 + 10px;
    color: $black;
  }
}
