.slider {
  margin-bottom: 150px;
  @media only screen and (max-width: $md - 1px) {
    margin-bottom: 50px;
  }
  .background {
    margin-bottom: 0 !important;
  }

  .swiper-pagination {
    bottom: 50px;

    &-bullet {
      width: 8px;
      height: 8px;
      background-color: $white;
      border-radius: 4px;
      opacity: 1 !important;
      margin-left: $gap / 2 !important;
      margin-right: $gap / 2 !important;
      &-active {
        width: 30px;
        background-color: $primary;
      }
    }
  }
}
