.block_title {
  display: flex;
  &-text {
    font-size: $fs1;
    padding-bottom: $gap;
    color: $black;
    font-weight: bold;
    padding-right: $gap * 3;
    border-bottom: 3px solid $primary;
  }
}
