.vacancy {
  &-top {
    background-color: rgba($primary, 0.3);
    padding: $gap * 2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;

    &-item {
      padding: 0 $gap;
      display: flex;
      height: 100%;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &-value {
        padding-top: $gap / 2;
        color: $primary;
      }
    }
  }

  &-bot {
    margin-top: $gap * 2;
    padding: $gap * 2;
    border: 2px solid $primary;
    display: none;
  }

  &-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 $gap / -1;
  }
  &-title {
    font-size: $fs3;
    color: $black;
    font-weight: 600;
  }

  &-button {
    margin-left: $gap;
    &-btn {
      background-color: $primary;
      color: $white;
      padding: $gap $gap;
      border-radius: 2px;
      outline: none;
      cursor: pointer;
      border: 1px solid transparent;
      display: flex;
      flex-direction: row;
      align-items: center;

      transition: $transition;

      .fa {
        transition: $transition;
        margin-left: $gap;
      }

      &.active,
      &:hover {
        border-color: $primary;
        background-color: $white;
        color: $primary;
      }
      &.active {
        .fa {
          transform: rotate(-180deg);
        }
      }
    }
  }

  @media only screen and (max-width: $lg - 1px) {
    &-top {
      &-item {
        display: none;
      }
    }
  }
  @media only screen and (max-width: $md - 1px) {
    &-top {
      flex-direction: column;
      text-align: center;
    }
    &-button {
      margin-top: $gap * 2;
    }
  }
}
